on nonencrypted
    start gbmodinstall

on property:vold.decrypt=trigger_post_fs_data
    start gbmodinstall

service mods_camd /vendor/bin/mods_camd
    class late_start
    user camera
    group camera system inet input graphics
    disabled
    rlimit 14 4 4
    ioprio rt 4

service gbmodinstall /vendor/bin/init.gbmods.sh
    user root
    oneshot
    disabled

service moddetect /vendor/bin/init.mods.sh
    user root
    oneshot
    disabled

on property:sys.mod.connected=1
    write /sys/module/greybus/holders/gb_mods/drivers/platform:muc_svc/soc:muc_svc@0/forcedetect 1
    write /sys/module/greybus/holders/gb_mods/drivers/platform:muc_svc/soc:muc_svc@0/mods_interfaces/3/hotplug 1
    restart moddetect    

on property:sys.mod.connected=0
    write /sys/module/greybus/holders/gb_mods/drivers/platform:muc_svc/soc:muc_svc@0/forcedetect 1
    write /sys/module/greybus/holders/gb_mods/drivers/platform:muc_svc/soc:muc_svc@0/mods_interfaces/3/hotplug 1
    restart moddetect
